body {
    color: #141415;
    font-family: 'Didact Gothic', sans-serif;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}
header {
    height: auto;
    width: 100%;
    background-color: white;
    position: fixed;
    

}
.logo {
    position: relative;
    margin: 1% 0;
    background-image: url("images/logo-blog-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    width: 25%;
    /*margin-left:auto; 
    margin-right:0;*/
}

div.logo a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
    }
#space {
    justify-content: space-between;
    align-items: center;
}

#home-button {

    border: 1.5px solid #0e6f8c;
    color: white;
    background-color: #0e6f8c; 
    
    padding: 1%;    
}
 
 a:hover, #home-button:hover {
    font-weight: bold;
    
}
a {
    text-decoration: none;
    color: white;

}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 0;
}

#avatar, #desc {
    margin-top: 150px;   
    height: 100px;
    width: 15%;
}

#avatar {
    background-image: url("images/rp.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#desc >  p:first-child {
    font-weight: bold;
}

#heading {
    height: 350px;
    width: 100%;
    background-image: url('images/pic-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0;
    text-align: center;
    line-height: 300px;
    vertical-align: middle;
    color: white;
}

h1 {
    font-size: 5vw;
}

article {
    text-align: justify;
    margin: 5% 0;
}

/*.resp.cont {
    position: relative;
    overflow: hidden;
    
}*/
iframe {
    margin: 2% auto;
    display: block;
    height: 315px;
    width: 100%;
}


@media only screen and (max-width: 600px){
.wrapper {
    display: block;
    width: 90%;
    height: auto;

}

iframe {
    margin: 2% auto;
    height: 315px;
    width: 100%;
 }




@media only screen and (min-width: 601px) and (max-width:1200px) {
 
 iframe {
    margin: 2% auto;
    height: 315px;
    width: 100%;
 }

}