body {
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
    height: 100vh;        
}
.box {
    flex: 32%;
    height: 50%;
    max-width: 100%;   
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center; 
    background-position: center;   
}
#box-1{
    background-image: url('images/logo-blog-2.png');
    box-shadow: none;
}
#box-2 {
    background-image: url('images/pic-2.jpg');
}
#box-3{
    background-image: url('images/pic-3.jpg');
}
#box-4{
    background-image: url('images/pic-4.jpg');
}
#box-5{
    background-image: url('images/pic-5.jpg');
}
#box-6{
    background-image: url('images/pic-6.jpg');
}
.text {
    width: 200px; 
    height: 200px;   
    vertical-align: middle;
    text-align: center; 
}
a {
    color: white;
    text-decoration: none;
 }
a:hover {
    padding: 0 2px;
    transition: all .9s;
 }

@media only screen and (max-width: 600px){

.wrapper {
    display: block;
}
}

@media only screen and (min-width: 601px) and (max-width:1200px) {

.box {
    flex:50%;
}
}
